<div class="user-details">
  <h1>About Me&#127829;</h1>
  <p>
    I am Vaibhavi Pore(She/Her), a web developer & (learning to be) a designer and a writer<br>
    Currently getting versed with Competitive Coding and DSA...<br>
    I love music, reading books and travelling<br>
    Feel free to ping me with your favorite songs, books or travel places ;)<br>

    <!-- Feel free to <span id="links" style="text-decoration: none; color: coral; cursor: pointer;">ping me</span> with your favorite songs, books or travel places ;)<br> -->
    
  </p>
</div>

<div class="user" style="display: block;">
  <!-- <h1 style="margin: 0px; padding: 0px;">My Skills</h1> -->
  <h1>My Skills&#127853;</h1>
  <div class="tech">
    <h2 style="padding: 0px; font-weight: 100;">Web</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
    <i class="devicon-express-original colored" style="font-size: 60px;"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redux/redux-original.svg" height="60" width="60"/>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
  </div>

  <div class="tech">
    <h2 style="padding: 0px; font-weight: 100;">Languages</h2>
    <i class="devicon-javascript-plain colored"></i>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" height="90" width="100"/>
    <i class="devicon-cplusplus-plain colored"></i> 
  </div>

  <div class="tech">
    <h2 style="padding: 0px; font-weight: 100;">Platforms</h2>
    <i class="devicon-github-original colored"></i> 
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain-wordmark.svg" height="90" width="100"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" height="60" width="90"/>    
  </div>
</div>

<!-- <script>
  const ele = document.getElementById('links');
  ele.onmouseover = function() {
    
  }
</script> -->