<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My Email" href="mailto:porevaibhavi5@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/vaibhavi-pore-242042211/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/vaibhavi_pore"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/vpore"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="My CodeChef" target="_blank" href="https://www.codechef.com/users/vaibhavipore" name="CodeChef"><i class="icon fa fa-code" aria-hidden="true"></i></a>
        <a aria-label="My Resume" target="_blank" href="https://vpore.github.io/assets/pdf/VaibhaviPore.pdf" name="Resume"><i class="icon fa fa-file" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>