<div class="user-details">
  <h1>My Projects&#127839;</h1>
</div>
<div class="user-projects" style="margin-top: 50px;">
  <div class="images-right" style="width: auto;">
    <img alt="crossword" style="height: 350px; border: 0.5px grey solid" src="{{ "/assets/img/crossword.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents" style="width: 58%;">
    <h3>CrossWord</h3>
    <p>A GUI that lets you play (well, ofcorse) Crosswords.<br>You can generate as many different crosswords as you want ie. the crosswords generated are NOT static/hardcoded.<br>It has a very clean & easy UI.</p>
    <p>Tech Stack - React.js, Firebase, Material-UI</p>
    <a class="project-link" href="https://vpore.github.io/CrossWord/" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects" style="margin-top: 50px;">
  <div class="images-left" style="width: auto;">
    <img alt="reefood" style="height: 250px; width: 400px; border: 0.5px grey solid" src="{{ "/assets/img/ReeFood.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right" style="width: 50%;">
    <h3>ReeFood</h3>
    <p>A web app that keeps track of the food stored in your fridge with expiry dates.<br>It will notify you if any food item is approaching its expiry date.<br>Thus, helping in reducing food wastage.<br>It also recommends food recipes that can be prepared using the items in the fridge so that you don't have to buy any extra food item that may lead to more food wastage.</p>
    <p>Tech Stack - React.js, Node.js, Firebase, Nodemailer</p>
    <a class="project-link" href="https://vpore.github.io/ReeFood/" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects" style="margin-top: 50px;">
  <div class="images-right" style="width: auto;">
    <img alt="crossword" style="height: 250px; width: 400px; border: 0.5px grey solid" src="{{ "/assets/img/StudentWiki.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents" style="width: 58%;">
    <h3>StudentWiki</h3>
    <p>A Student-Administrative Website that helps conveying daily information regarding college in a frictionless manner.<br>It displays Time-Table, Assignments, daily Announcements.<br>You can also store notes during lectures.</p>
    <p>Tech Stack - JavaScript, Node.js, MongoDB</p>
    <a class="project-link" href="https://studentwiki.netlify.app/" target="_blank">Check it out</a>
  </div>
</div>